@import "navbar";
@import "FirstSection";
@import "SecondSection";
@import "Variables";
@import "ThirdSection";
@import "FouthSection";
@import "FifthSection";
@import "SixthSection";
@import "SeventhSection";

body {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.section {
  // margin-top: 5%;
  //   margin-left: 10rem;
}
