.NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid green;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ancorTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10%;
  margin-right: 5%;
}

.ancorTag {
  margin-left: 5%;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  color: #0000ff;
}

.CarsBackground {
  background-image: url(../img/automotive.png);
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center bottom;
  color: white;
}

.CarsText {
  padding: 8rem 0rem 5rem 5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0000ff;
  border-color: #007bff;
}

.ParkingProblems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ParkingProblems .descriptions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ParkingProblems .benefits {
  margin-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ParkingProblems .pPadding {
  padding-left: 1rem;
}

.ParkingProblems .justifyLeft {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.highlightedBlue {
  color: #0000ff;
}

.ParkingSolution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e0e0e0;
  margin-top: 1rem;
}

.ParkingSolution .SolutionDetails {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ParkingSolution .left {
  text-align: left;
}

.text {
  max-width: 270px;
}

.headerColor {
  color: #0000ff;
}

.Blueborder {
  border: solid 3px #0000ff;
}

body {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
/*# sourceMappingURL=styles.css.map */